{% extends 'main/base.html' %}
{% load static %}
{% block content %}

    <section class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
                <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-center">
                    <div class="text text-center">
                        <span class="subheading">Hey! I am</span>
                        <h1>Denys Puliaiev</h1>
                        <h2>I'm a
                            <span
                                    class="txt-rotate"
                                    data-period="2000"
                                    data-rotate='[ "Python Developer"]'></span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="mouse">
            <a href="#" class="mouse-icon">
                <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
            </a>
        </div>
    </section>

    <section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
        <div class="container">
            <div class="row d-flex no-gutters">
                <div class="col-md-6 col-lg-6 d-flex">
                    <div class="img-about img d-flex align-items-stretch">
                        <div class="overlay"></div>
                        <div class="img d-flex align-self-stretch align-items-center"
                             style="background-image:url('{% static 'main/images/about.png' %}');">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 pl-md-5 py-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <h1 class="big">About</h1>
                            <h2 class="mb-4">About Me</h2>
                            <p style="text-align: justify;">I am a self-motivated Python developer with hands-on
                                experience in backend development and web applications. I build APIs and services using
                                Django and FastAPI, work with both relational (PostgreSQL) and NoSQL (MongoDB, Redis)
                                databases, and deploy applications with Docker.
                                Additionally, I have practical experience in machine learning (TensorFlow,
                                scikit-learn), developing models and implementing data-driven solutions.</p>
                        </div>
                    </div>

                    <p><a href="https://drive.google.com/file/d/19F_GXNaMz-4C2DyYVr-eb9HJprvJscE8/view?usp=sharing"
                          class="btn btn-primary py-3 px-3">Download CV</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-partner">
        <div class="container">

        </div>

    </section>

    <section class="ftco-section ftco-no-pb goto-here" id="resume-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <nav id="navi">
                        <ul>
                            <li><a href="#page-1"> Education </a></li>
                            <li><a href="#page-2"> Work Experience </a></li>
                            <li><a href="#page-3"> Tech Skills </a></li>
                        </ul>
                    </nav>
                </div>


                <!-- Education -->
                <div class="col-md-9">
                    <div id="page-1" class="page one">
                        <h2 class="heading">Education</h2>
                        <div class="resume-wrap d-flex ftco-animate">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fas fa-graduation-cap"></span>
                            </div>
                            <div class="text pl-3">
                                <span class="date">2023-2024</span>
                                <h2>Python Developer</h2>
                                <span class="position">IT School GoIT</span>
                                {#                                <p>Received intensive training in Python development. Mastered skills in building web applications using Django and FastAPI, containerization with Docker, creating and learning to implement machine learning models</p>#}
                            </div>
                        </div>
                        <div class="resume-wrap d-flex ftco-animate">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fas fa-graduation-cap"></span>
                            </div>
                            <div class="text pl-3">
                                <span class="date">2007-2011</span>
                                <h2>Doctor of Philosophy - PhD</h2>
                                <span class="position">National University of Pharmacy</span>
                                {#                                <p>Scientific research and thesis defense helped me develop analytical thinking and management skills, which I successfully apply in IT projects</p>#}
                            </div>
                        </div>
                        <div class="resume-wrap d-flex ftco-animate">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fas fa-graduation-cap"></span>
                            </div>
                            <div class="text pl-3">
                                <span class="date">2001-2006</span>
                                <h2>Engineer</h2>
                                <span class="position">National University of Pharmacy</span>
                                {#                                <p>An education in engineering helped build a technical background and systems thinking, which was a great foundation for a job in IT</p>#}
                            </div>
                        </div>
                    </div>

                    <!-- Experience -->
                    <div id="page-2" class="page two">
                        <h2 class="heading">Experience</h2>

                        <!-- Experience Item 1 -->
                        <div class="resume-wrap d-flex ftco-animate">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fas fa-briefcase"></span>
                            </div>
                            <div class="text pl-3">
                                <span class="date">2018 - Present</span>
                                <h2>Head of Information Technology Department</h2>
                                <span class="position">National University of Pharmacy</span>
                                <p>
                                    Led IT projects and implemented digital solutions (automation systems, databases,
                                    web services).
                                    Managed a team, introduced modern IT tools.
                                </p>
                            </div>
                        </div>


                        <!-- Experience Item 2 -->
                        <div class="resume-wrap d-flex ftco-animate">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fas fa-briefcase"></span>
                            </div>
                            <div class="text pl-3">
                                <span class="date">2015 - Present</span>
                                <h2>Associate Professor</h2>
                                <span class="position">National University of Pharmacy</span>
                                <p>
                                    Designed and delivered IT-related courses. Applied data analysis and software tools
                                    in teaching and research.
                                </p>
                            </div>
                        </div>
                    </div>


                    <!-- Skills -->
                    <div id="page-3" class="page three">
                        <h2 class="heading">Tech Skills</h2>

                        <!-- Skills Item 1 -->
                        <div class="resume-wrap d-flex ftco-animate">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fas fa-server"></span>
                            </div>
                            <div class="text pl-3">
                                <h2>Backend</h2>
                                <span class="position">Python, Asyncio, Django, FastAPI, SQLAlchemy, Celery, RabbitMQ</span>
                            </div>
                        </div>


                        <!-- Skills Item 2 -->
                        <div class="resume-wrap d-flex ftco-animate">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fas fa-database"></span>
                            </div>
                            <div class="text pl-3">
                                <h2>Databases</h2>
                                <span class="position">PostgreSQL, MongoDB, Redis</span>
                            </div>
                        </div>

                        <!-- Skills Item 3 -->
                        <div class="resume-wrap d-flex ftco-animate">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fas fa-brain"></span>
                            </div>
                            <div class="text pl-3">
                                <h2>Machine Learning</h2>
                                <span class="position">NumPy, Pandas, TensorFlow, Scikit-learn</span>
                            </div>
                        </div>

                        <!-- Skills Item 4 -->
                        <div class="resume-wrap d-flex ftco-animate">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fab fa-docker"></span>
                            </div>
                            <div class="text pl-3">
                                <h2>DevOps/Tools</h2>
                                <span class="position">Docker, Git</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Projects -->
    <!-- Projects Section -->
    <section class="ftco-section ftco-project" id="projects-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-10 heading-section text-center ftco-animate">
                    <h1 class="big big-2">Projects</h1>
                    <h2 class="mb-4">My Projects</h2>
                    <p>Here are some of my recent projects that showcase my skills in web development, machine learning,
                        and backend development.</p>
                </div>
            </div>

            <div class="row">
                <!-- Project 1 -->
                <div class="col-md-4 ftco-animate">
                    <div class="project-card project-1">
                        <div class="project-img"
                             style="background-image: url('{% static 'main/images/work-1.png' %}');"></div>
                        <div class="overlay"></div>
                        <div class="project-content">
                            <h3>Image Classification App</h3>
                            <p>A web app designed to classify images using a developed CNN</p>
                            <div class="tech-stack">
                                <span>Bootstrap</span>
                                <span>Django</span>
                                <span>TensorFlow</span>
                            </div>
                            <div class="project-links">
                                <a href="https://classifyme.onrender.com/" target="_blank"><i class="icon-eye"></i> View
                                    Live</a>
                                <a href="https://github.com/dspuliaiev/ClassifyMe"><i class="icon-github"></i> GitHub</a>
                            </div>
                            <div class="warning">Warning: The service may take longer to start up as it is currently in
                                a sleeping state on Render.
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Project 2 -->
                <div class="col-md-4 ftco-animate">
                    <div class="project-card project-2">
                        <div class="project-img"
                             style="background-image: url('{% static 'main/images/work-2.png' %}');"></div>
                        <div class="overlay"></div>
                        <div class="project-content">
                            <h3>Personal Assistant</h3>
                            <p>A web app for managing contacts, notes, and processing files</p>
                            <div class="tech-stack">
                                <span>Django</span>
                                <span>PostgreSQL</span>
                                <span>Docker</span>
                            </div>
                            <div class="project-links">
                                <a href="https://personal-assistant.koyeb.app/" target="_blank"><i class="icon-eye"></i>
                                    View Live</a>
                                <a href="https://github.com/dspuliaiev/Personal_web_assistant_deploy"><i class="icon-github"></i> GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- Project 3 -->
                <div class="col-md-4 ftco-animate">
                    <div class="project-card project-3">
                        <div class="project-img"
                             style="background-image: url('{% static 'main/images/work-3.png' %}');"></div>
                        <div class="overlay"></div>
                        <div class="project-content">
                            <h3>DRF based single page application</h3>
                            <p>SPA-Comments — real-time comments powered by Vue.js with a robust Django REST backend</p>
                            <div class="tech-stack">
                                <span>DRF</span>
                                 <span>Vue.js</span>
                                <span>PostgreSQL</span>
                                <span>Redis</span>
                            </div>
                            <div class="project-links">
                                <a href="https://comments-spa.koyeb.app/" target="_blank"><i class="icon-eye"></i>
                                    View Live</a>
                                <a href="https://github.com/dspuliaiev/Comments_backend_deploy"><i class="icon-github"></i> GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Project 4 -->
                <div class="col-md-4 ftco-animate">
                    <div class="project-card project-3">
                        <div class="project-img"
                             style="background-image: url('{% static 'main/images/work-4.png' %}');"></div>
                        <div class="overlay"></div>
                        <div class="project-content">
                            <h3>FastAPI REST Service</h3>
                            <p>API with authentication using FastAPI infrastructure</p>
                            <div class="tech-stack">
                                <span>FastAPI</span>
                                <span>PostgreSQL</span>
                                <span>Redis</span>
                            </div>
                            <div class="project-links">
                                <a href="https://fastapi-rest.koyeb.app/docs" target="_blank"><i class="icon-eye"></i>
                                    View Live</a>
                                <a href="https://github.com/dspuliaiev/FastAPI_REST_Test_Doc_deploy"><i class="icon-github"></i> GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        // Получаем все карточки проектов
        const projects = document.querySelectorAll('.project');

        // Добавляем событие клика на каждую карточку
        projects.forEach(function (project) {
            project.addEventListener('click', function () {
                // Переключаем класс "visible", который делает текст и оверлей видимыми
                this.classList.toggle('visible');
            });

            // Добавляем событие наведения мыши
            project.addEventListener('mouseenter', function () {
                this.classList.add('visible');
            });

            // Добавляем событие ухода мыши
            project.addEventListener('mouseleave', function () {
                this.classList.remove('visible');
            });
        });
    </script>


    <section class="ftco-section contact-section ftco-no-pb enlarged-contact-section" id="contact-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-4">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h1 class="big big-2">Contact</h1>
                    <h2 class="mb-4">Contact Me</h2>
                </div>
            </div>

            <!-- Увеличенная контактная информация -->
            <div class="row justify-content-center mb-3 enlarged-contact-section" style="--icon-size: 2.5rem;">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <div class="row">
                                <div class="col-6 col-md-3 text-center mb-4">
                                    <a href="https://www.linkedin.com/in/denys-puliaiev/" class="contact-link enlarged">
                                        <span class="icon-linkedin icon-variable d-block mb-3"></span>
                                        <small>LinkedIn</small>
                                    </a>
                                </div>
                                <div class="col-6 col-md-3 text-center mb-4">
                                    <a href="https://t.me/Denys_Puliaiev" class="contact-link enlarged">
                                        <span class="icon-phone2 icon-variable d-block mb-3"></span>
                                        <small>Telegram</small>
                                    </a>
                                </div>
                                <div class="col-6 col-md-3 text-center mb-4">
                                    <a href="mailto:d.s.puliaiev@gmail.com" class="contact-link enlarged">
                                        <span class="icon-paper-plane icon-variable d-block mb-3"></span>
                                        <small>Email</small>
                                    </a>
                                </div>
                                <div class="col-6 col-md-3 text-center mb-4">
                                    <a href="https://github.com/dspuliaiev?tab=repositories"
                                       class="contact-link enlarged">
                                        <span class="icon-github icon-variable d-block mb-3"></span>
                                        <small>GitHub</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Блок для отображения сообщений -->
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Форма обратной связи и изображение -->
            <div class="row no-gutters block-9 justify-content-center">
                <div class="col-md-6 d-flex">
                    <div class="img" style="background-image: url('{% static 'main/images/about.png' %}');"></div>
                </div>
                <div class="col-md-6 order-md-last d-flex">
                    <form method="post" class="bg-light p-4 p-md-5 contact-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group">
                            <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}